body {
    overflow-y: hidden; // hide vertical
    overflow-x: hidden;
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #00a5ff;

  /*Previously disabled vertical scroll.
  Problem is it ruins the mobile site.
  margin: 0; height: 100%; overflow: hidden;
  */
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
#contentcenter{
    margin-top:15%;
    margin-left:3%;
}

#listen{
    margin-left:25%;
    color:white;
}

#lessonbutton{
    margin-top:2%;
    margin-left:8%;
}